---
layout: default
---	
	<div class=col-sm-6>
		<img src="images/sam_horiz.jpg"  width="65%" height="65%"style="float: left; overflow: hidden">  
	</div>

	<style>
		h1 {
				padding-top: 60px;
				padding-bottom: 60px;
				padding-right: 150px;
				margin-bottom: -55px;				
				border-radius: 6px;
				text-align: center;				
				font-size: 280%;
			 }
		.p1 {				
				padding-right: 150px;
				text-align: center;
				font-size: 130%;
			 }			 
		
	</style>

		  
  <div id="homeid" class="col-sm-6">   	  		
			<h1> Sam Spaulding</h1>  
  		<p class="p1"> Data-driven Computational Models of Interaction</p>
  </div>
<div class="col-sm-12">
  	{{ content }}
 </div>

  

	
  <div id="newsid" class="col-sm-12" >
	{% include news.html %}
  </div>
